%h1 tweets

- @tweets.each do |tweet|
  %div.tweet
    %div.tweet-body
      =tweet.text
    %div.tweet-date
      = link_to date_format(tweet.posted_at), "http://twitter.com/NJSLYR/#{tweet.tweet_id}"
%br

= link_to 'New Tweet', new_tweet_path
