// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tweet-date {
  text-align: right;
  font-size: 80%;
}
.tweet {
  padding: 5px;
  margin: 5px;
}


